Repository maistra/istio-workspace, pull requests merged in 2020-07, with the labels that each got.

#488 fix(log): use a single instance of Logger
  cmd/ike/main.go
  pkg/cmd/config/env_vars.go
  pkg/cmd/create/create.go
  pkg/cmd/delete/delete.go
  pkg/cmd/develop/develop.go
  pkg/cmd/install/install.go
  pkg/cmd/root.go
  pkg/cmd/serve/serve.go
  pkg/cmd/version/version.go
  pkg/cmd/watch/watch.go
  pkg/controller/session/session_controller.go
  pkg/internal/session/session.go
  pkg/log/log.go
  pkg/shell/funcs.go
  pkg/watch/watch.go
  test/cmd/test-service/main.go
Labels: component/cli, component/operator, kind/enhancement

#489 fix(cli): return structural response on cli
  cmd/ike/main.go
  pkg/cmd/config/env_vars.go
  pkg/cmd/create/create.go
  pkg/cmd/delete/delete.go
  pkg/cmd/develop/develop.go
  pkg/cmd/install/install.go
  pkg/cmd/root.go
  pkg/cmd/serve/serve.go
  pkg/cmd/version/releases.go
  pkg/cmd/version/version.go
  pkg/cmd/watch/watch.go
  pkg/controller/session/session_controller.go
  pkg/internal/session/session.go
  pkg/internal/session/session_client.go
  pkg/log/log.go
  pkg/shell/funcs.go
  pkg/watch/watch.go
  pkg/watch/watch_builder.go
Labels: component/cli, kind/enhancement

#490 feat: generates operator's ClusterServiceVersion manifests
  Gopkg.lock
  Gopkg.toml
  Makefile
  deploy/cluster_role.yaml
  deploy/cluster_role_binding.yaml
  deploy/crds/maistra.io_sessions_cr.yaml
  deploy/crds/maistra.io_sessions_crd.yaml
  deploy/examples/session_role.yaml
  deploy/examples/session_rolebinding.yaml
  deploy/istio-workspace/crds/istio_v1alpha1_session_crd.yaml
  deploy/olm-catalog/istio-workspace/manifests/istio-workspace.clusterserviceversion.yaml
  deploy/olm-catalog/istio-workspace/manifests/maistra.io_sessions_crd.yaml
  deploy/operator.tpl.yaml
  deploy/operator.yaml
  deploy/role.yaml
  deploy/role_binding.yaml
  deploy/service_account.yaml
  pkg/apis/addtoscheme_maistra_v1alpha1.go
  pkg/apis/maistra/v1alpha1/doc.go
  pkg/apis/maistra/v1alpha1/register.go
  pkg/apis/maistra/v1alpha1/session_types.go
  pkg/apis/maistra/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/maistra/v1alpha1/zz_generated.defaults.go
  pkg/assets/isto-workspace-deploy.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/maistra/v1alpha1/doc.go
  pkg/client/clientset/versioned/typed/maistra/v1alpha1/fake/doc.go
  pkg/client/clientset/versioned/typed/maistra/v1alpha1/fake/fake_maistra_client.go
  pkg/client/clientset/versioned/typed/maistra/v1alpha1/fake/fake_session.go
  pkg/client/clientset/versioned/typed/maistra/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/maistra/v1alpha1/maistra_client.go
  pkg/client/clientset/versioned/typed/maistra/v1alpha1/session.go
  pkg/cmd/install/install.go
  pkg/controller/session/model_convert.go
  pkg/controller/session/model_convert_test.go
  pkg/controller/session/session_controller.go
  pkg/controller/session/session_controller_int_test.go
  pkg/controller/session/session_controller_test.go
  pkg/internal/session/session.go
  pkg/internal/session/session_client.go
  pkg/internal/session/session_client_test.go
  pkg/istio/destinationrule_test.go
  pkg/istio/gateway_test.go
  pkg/istio/virtualservice_test.go
  pkg/istio/virtualservicegatway_test.go
  pkg/openshift/parser/template_test.go
  test/testclient/getters.go
Labels: component/operator, kind/enhancement

#492 feat(cli): revert ref back to original on join
  pkg/cmd/develop/develop.go
  pkg/cmd/internal/session/session_func.go
  pkg/cmd/internal/session/session_func_test.go
  pkg/internal/session/session.go
  pkg/internal/session/session_client.go
  pkg/internal/session/session_test.go
Labels: component/cli, kind/enhancement

#499 fix(test): propagate the default route header
  test/cmd/test-service/propagation.go
Labels: internal/test-infra, kind/enhancement
